<Sensors xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Sensor>
      <type>Stickstoffdioxid</type>
      <active>true</active>
      <params>
        <sehr_gut>1</sehr_gut>
        <gut>2</gut>
        <mittel>3</mittel>
        <schlecht>4</schlecht>
        <sehr_schlecht>5</sehr_schlecht>
      </params>
    </Sensor>
    <Sensor>
      <type>Feinstaubsensor</type>
      <active>true</active>
      <params>
        <sehr_gut>1</sehr_gut>
        <gut>2</gut>
        <mittel>3</mittel>
        <schlecht>4</schlecht>
        <sehr_schlecht>5</sehr_schlecht>
      </params>
    </Sensor>
    <Sensor>
      <type>Ozonsensor</type>
      <active>true</active>
      <params>
        <sehr_gut>1</sehr_gut>
        <gut>2</gut>
        <mittel>3</mittel>
        <schlecht>4</schlecht>
        <sehr_schlecht>5</sehr_schlecht>
      </params>
    </Sensor>
    <Sensor>
      <type>Kohlenmonoxidsensor</type>
      <active>true</active>
      <params>
        <sehr_gut>1</sehr_gut>
        <gut>2</gut>
        <mittel>3</mittel>
        <schlecht>4</schlecht>
        <sehr_schlecht>5</sehr_schlecht>
      </params>
    </Sensor>
    <Sensor>
      <type>Stickstoffdioxid</type>
      <active>true</active>
      <params>
        <sehr_gut>1</sehr_gut>
        <gut>2</gut>
        <mittel>3</mittel>
        <schlecht>4</schlecht>
        <sehr_schlecht>5</sehr_schlecht>
      </params>
    </Sensor>
  </Sensors>
  